.body {
	font-family: Arial;
	font-size: 16px;

}

.btn_section {
	position: relative;
}

.btn {
	position: static;
	outline: none;
	background-color: #fafafa;
	border: 1px solid #cccccc;
	color: #333333;
	border-radius: 3px;
	font-size: 14px;
	padding: .6em .8em .6em .8em; 
	text-decoration: none;
	cursor: pointer;
	display: inline-block;

}

.btn_icon {
	font-size: 9px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropdown-list {
	display: block;

}

.dropdown-list {
	display: none;
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px 10px;
	top: 100%;
	min-width: 160px;

}

.btn_position_relative {
	position: relative;
	
}

.btn_position_absolute {
	position: absolute;
	top: 0;
}

.btn:active {
	background-color: #e6e6e6;
	color: #333;
	border-color: #ccc;
}

.btn_state_danger {
	background-color: #d9534f;
	border-color: #a63f3c;
	color: #fff;
		
}

.btn_state_danger:active {
	background-color: #bf423e;
	border-color: #a63f3c;
	color: #fff;
}

.btn_state_primary {
	background-color: #428bca;
	border-color: #326796;
	color: #fff;
}

.btn_state_primary:active {
	background-color: #3a79b0;
	border-color: #326796;
	color: #fff;
}

.progress {
	width: 100%;
	background: #ccc;
	border: 1px solid #cacaca;
}

.progress_bar {
	background: #421bca;
	width: 60%;
	color: #fff;
	text-align: center;
}

.parent {

}

.child {
	border: 1px solid #ccc;
	display: inline-block;
}

.parent-float {

}

.child-float {
	border: 1px solid #ccc;
	display: block;
	float: left;
}

.child-float-right {
	border: 1px solid #ccc;
	display: block;
	float: right;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.parent-table {
	display: table;

}

.child-table {
	border: 2px solid #000;
	display: table-cell;
	width: 50px;
	vertical-align: middle;
}

.menu-bar {
	background-color: #fff;
	border: 1px solid #ccc;
}

.btn_menu {
	position: static;
	outline: none;
	background-color: #fff;
	border: none;
	color: #5d4384;
	font-size: 14px;
	padding: 1.5em 1.2em; 
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.btn_menu:hover {
	background-color: #dcdcdc;

}